<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../../partials/head') %>
		<link
			rel="stylesheet"
			type="text/css"
			href="/views/pages/children/style.css"
		/>
		<link rel="stylesheet" href="/views/styles/header.css" />
		<link rel="stylesheet" href="/views/styles/footer.css" />
	</head>
	<body>

		<%- include('../../partials/header') %>

		<%-
		include('../../partials/thumbnail',
		{ level2: { link: '/children/#', text: ' > Lista de Filhos' },
			level3: { link: '', text: '' } })
		%>

		<main>
			<header>
				<h1>Filhos cadastrados</h1>

				<a class="link" href="#" onclick="Modal.open()"> Cadastrar novo </a>
			</header>

			<ul>
				<% children.forEach(child => { %>
				<li>
					<a href= <%= `http://localhost:3333/children/${child.id}` %> >
						<div class="child-name">
							<strong> <%= child.name %> </strong>
							<small> <%= child.mother.name %> </small>
						</div>
						<p><%= `${child.home} • ${child.phone}` %></p>
					</a>
				</li>
				<% }); %>
			</ul>
		</main>



		<%- include('../../partials/footer') %>

		<div class="modal-overlay active">
      <div class="modal">
        <section id="form">
          <h2>Nova criança</h2>
          <form action="" onsubmit="Form.submit(event)">

						<fieldset>
							<legend>Informação básica</legend>

							<div class="input-group">
								<label for="name" class="sr-only">Nome</label>
								<input
									type="text"
									id="name"
									name="name"
									placeholder="Nome completo"
								/>
							</div>

							<div class="input-group">
								<label for="sex" class="">Sexo</label>
								<select name="sex" id="sex">
									<option value="Masculino">Masculino</option>
									<option value="Feminino">Feminino</option>
								</select>
							</div>

						</fieldset>

						<fieldset>
							<legend>Filiação</legend>

							<section>
								<div class="input-group">
									<label for="father-name" class="sr-only">Nome do pai</label>
									<input
										type="text"
										id="father-name"
										name="father-name"
										placeholder="Nome do pai"
									/>
								</div>

								<div class="input-group">
									<label for="mother" class="sr-only">Nome da mãe</label>
									<input
										type="text"
										id="mother"
										name="mother"
										placeholder="Nome da mãe"
										list="mothers-list"
									/>
									<datalist id="mothers-list">
										<option value="Joana">Joa</option>
										<option value="Joana">Jo</option>
										<option value="Joana">Ja</option>
									</datalist>
								</div>
							</section>

						</fieldset>

						<fieldset>
							<legend>Hospital de nascimento</legend>

							<section>
								<div class="input-group">
									<label for="hospitalName" class="sr-only">Nome do hospital</label>
									<input
										type="text"
										id="hospitalName"
										name="hospitalName"
										placeholder="Nome do hospital"
									/>
								</div>

								<div class="input-group">
									<label for="hospitalNumber" class="sr-only">Numero do hospital</label>
									<input
										type="text"
										id="hospitalNumber"
										name="hospitalNumber"
										placeholder="Numero do hospital"
									/>
								</div>
							</section>

						</fieldset>

						<fieldset>
							<legend>Moradia</legend>

							<div class="input-group">
								<label for="home" class="sr-only">Residência</label>
								<input
									type="text"
									id="home"
									name="home"
									placeholder="Residência"
								/>
							</div>

							<div class="input-group">
								<label for="phone" class="sr-only">Numero de telefone</label>
								<input
									type="text"
									id="phone"
									name="phone"
									placeholder="Numero de telefone"
								/>
							</div>

						</fieldset>


            <div class="input-group actions">
              <button type="button" class="cancel" onclick="Modal.close()">
                Cancelar
              </button>
              <button type="submit">Salvar</button>
            </div>
          </form>
        </section>
      </div>
    </div>

		<script src="/views/pages/children/script.js"></script>

	</body>
</html>
