<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../../partials/head') %>
		<link rel="stylesheet" href="/views/styles/header.css" />
		<link rel="stylesheet" href="/views/styles/footer.css" />
		<link rel="stylesheet" href="/views/styles/link.css" />
		<link rel="stylesheet" href="/views/pages/mother-details/style.css" />
	</head>
		<body onload=<%= "ChildrenApp.setMotherId(" + mother.id + ")" %> >
		<%-
		include('../../partials/header') %> <%- include( '../../partials/thumbnail',
		{ level2: ['/mothers', ' > Lista de Mães'], level3: [`/mothers/${mother.id}
		`, ' > Detalhes da mãe'] }) %>

		<main>
			<header>
				<h1>Detalhes de Mãe</h1>
				<a href="#" class="link" onclick="Modal.open()">Cadastrar filho</a>
			</header>

			<section class="details-container">
				<section class="mother-details">
					<div class="mother-name card-detail">
						<h3>Nome</h3>
						<span> <%= mother.name %> </span>
					</div>

					<div class="mother-birthday card-detail">
						<h3>Data de nascimento</h3>
						<span> <%= mother.parsedBirthday %> </span>
					</div>

					<div class="mother-marital card-detail">
						<h3>Estado civil</h3>
						<span> <%= mother.maritalStatus %> </span>
					</div>

					<div class="mother-work card-detail">
						<h3>Profissão</h3>
						<span> <%= mother.work %> </span>
					</div>

					<div class="mother-workplace card-detail">
						<h3>Local de trabalho</h3>
						<span> <%= mother.workplace %> </span>
					</div>

					<div class="mother-home card-detail">
						<h3>Residência</h3>
						<span> <%= mother.home %> </span>
					</div>

					<div class="mother-district card-detail">
						<h3>Distrito</h3>
						<span> <%= mother.district %> </span>
					</div>

					<div class="mother-hood card-detail">
						<h3>bairro</h3>
						<span> <%= mother.neighborhood %> </span>
					</div>

					<div class="mother-avenue card-detail">
						<h3>Av. / Rua</h3>
						<span> <%= `${mother.avenue}` %> </span>
					</div>

					<div class="mother-phone card-detail">
						<h3>Telefone de contacto</h3>
						<span> <%= mother.phone %> </span>
					</div>
				</section>

				<section class="mother-aditional-info">
					<div class="mother-father card-detail">
						<h3>Nome do pai</h3>
						<span> <%= mother.father %> </span>
					</div>

					<div class="mother-mother card-detail">
						<h3>Nome da mãe</h3>
						<span> <%= mother.mother %> </span>
					</div>

					<div class="mother-reference-person card-detail">
						<h3>Pessoa de referência</h3>
						<span> <%= mother.referencePerson %> </span>
					</div>

					<div class="mother-reference-phone card-detail">
						<h3>Contacto de referência</h3>
						<span> <%= mother.referencePhone %> </span>
					</div>
				</section>
			</section>
		</main>

		<aside>
			<h2>Filhos</h2>

			<ul>
				<% mother.children.forEach(child => { %>
				<li>
					<a href= <%= `http://localhost:3333/children/${child.id}` %> >
						<div class="child-name">
							<strong> <%= child.name %> </strong>
							<small> <%= child.home %> </small>
						</div>
						<p><%= `${child.hospitalName} • ${child.hospitalNumber}` %></p>
					</a>
				</li>
				<% }); %>
			</ul>
		</aside>

		<div class="modal-overlay">
			<div class="modal">
				<section id="form">
					<h2>Nova criança</h2>
					<form action="" onsubmit="Form.submit(event)">
						<fieldset>
							<legend>Informação básica</legend>

							<div class="input-group">
								<label for="name" class="sr-only">Nome</label>
								<input
									type="text"
									id="name"
									name="name"
									placeholder="Nome completo"
								/>
							</div>

							<div class="input-group">
								<label for="sex" class="">Sexo</label>
								<select name="sex" id="sex">
									<option value="Masculino">Masculino</option>
									<option value="Feminino">Feminino</option>
								</select>
							</div>
						</fieldset>

						<fieldset>
							<legend>Filiação</legend>
							<div class="input-group">
								<label for="father-name" class="sr-only">Nome do pai</label>
								<input
									type="text"
									id="father-name"
									name="father-name"
									placeholder="Nome do pai"
								/>
							</div>
						</fieldset>

						<fieldset>
							<legend>Hospital de nascimento</legend>

							<section>
								<div class="input-group">
									<label for="hospitalName" class="sr-only"
										>Nome do hospital</label
									>
									<input
										type="text"
										id="hospitalName"
										name="hospitalName"
										placeholder="Nome do hospital"
									/>
								</div>

								<div class="input-group">
									<label for="hospitalNumber" class="sr-only"
										>Numero do hospital</label
									>
									<input
										type="text"
										id="hospitalNumber"
										name="hospitalNumber"
										placeholder="Numero do hospital"
									/>
								</div>
							</section>
						</fieldset>

						<fieldset>
							<legend>Moradia</legend>

							<div class="input-group">
								<label for="home" class="sr-only">Residência</label>
								<input
									type="text"
									id="home"
									name="home"
									placeholder="Residência"
								/>
							</div>

							<div class="input-group">
								<label for="phone" class="sr-only">Numero de telefone</label>
								<input
									type="text"
									id="phone"
									name="phone"
									placeholder="Numero de telefone"
								/>
							</div>
						</fieldset>

						<div class="input-group actions">
							<button type="button" class="cancel" onclick="Modal.close()">
								Cancelar
							</button>
							<button type="submit">Salvar</button>
						</div>
					</form>
				</section>
			</div>
		</div>

		<%- include('../../partials/footer') %>

		<script src="/views/pages/mother-details/script.js"></script>
	</body>
</html>
